<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <style>
            body{
                background-color: #E3B7A0;
            }
            .banner{
              border: 5px solid #FC4F4F;
              width: 100%;
              height: 340px;
              margin: 50px;
              margin-left: 50px;
              margin-right: 50px;
              background-image: url("../images/1.jpeg");
            }
        </style>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-inverse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
          </nav>
          <center><h1>Home Page</h1></center>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sn-12 banner">
              </div>
            </div>
            <div class="row">
              <div class="col-sn-12 paragraph">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur veritatis dolorum unde aliquid libero, nostrum accusamus porro illum aliquam placeat velit rem sequi ullam suscipit nam qui dignissimos, voluptatem necessitatibus, quasi iusto dolores hic facilis voluptas. Maxime, nisi. Error dignissimos delectus quia non quaerat quasi sed assumenda aut obcaecati repellendus!
                </p>
              </div>
            </div> 
          </div>
    </body>
</html>